<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tony's pizza</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/tonypizza.css">
</head>
<body>
    <div class="grid_wrapper">
    <div id="tonyheader" class="Pizza_logo">
        <img src="uploads/Grafiskt material/tonys-pizza-logo.svg"></img>
    </div>


    <div id="kundkorg" class="Basket_logo">
        <a href="kundvagn">
            <img src="uploads/Grafiskt material/tonys-pizza-basket.svg"></img>
        </a>
    </div>

                <div id="pizza_1" class="pizza">
                    <img src="uploads/Grafiskt material/margherita.svg"></img>
                    <div class="pizza_text">
                        <p> <b>Margherita</b></p>
                        <p class="pizza_ingredients"> Tomatsås <br> Mozzarella <br> Basilika</p>
                        <button onclick="pizza_check(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="Margherita">Anpassa </button>
                        <button onclick="buy(this)" type="button" class="btn btn-primary" id="Margherita">Köp</button>
                    </div>
                </div>
                <div id="pizza_2" class="pizza">
                    <img src="uploads/Grafiskt material/marinara.svg"></img>
                    <div class="pizza_text">
                        <p> <b>Marinara</b></p>
                        <p class="pizza_ingredients"> Tomatsås</p>
                        <button onclick="pizza_check(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="Marinara">Anpassa </button>
                        <button onclick="buy(this)" type="button" class="btn btn-primary" id="Marinara">Köp</button>
                    </div>
                </div>
                <div id="pizza_3" class="pizza">
                    <img src="uploads/Grafiskt material/prosciutto-e-funghi.svg"></img>
                        <div class="pizza_text">
                            <p> <b>Prosciutto e funghi</b></p>
                            <p class="pizza_ingredients"> Tomatsås <br> Mozzarella <br> Skinka <br> Svamp</p>
                            <button onclick="pizza_check(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="Prosciutto e funghi">Anpassa </button>
                            <button onclick="buy(this)" type="button" class="btn btn-primary" id="Prosciutto e funghi">Köp</button>
                    </div>
                </div>
                <div id="pizza_4" class="pizza">
                    <img src="uploads/Grafiskt material/quattro-stagioni.svg"></img>
                    <div class="pizza_text">
                        <p> <b>Quattro stagioni</b></p>
                        <p class="pizza_ingredients"> Tomatsås <br> Mozzarella <br> Skinka <br> Svamp <br> Kronärtskocka <br> Oliver</p>
                        <button onclick="pizza_check(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="Quattro stagioni">Anpassa </button>
                        <button onclick="buy(this)" type="button" class="btn btn-primary" id="Quattro stagioni">Köp</button>
                    </div>
                </div>

                <div id="pizza_5" class="pizza">
                    <img src="uploads/Grafiskt material/capricciosa.svg"></img>
                        <div class="pizza_text">
                            <p> <b>Capricciosa</b></p>
                            <p class="pizza_ingredients"> Tomatsås <br> Mozarella <br> Skinka <br> Svamp <br> Kronärtskocka</p>
                            <button onclick="pizza_check(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="Capricciosa">Anpassa </button>
                            <button onclick="buy(this)" type="button" class="btn btn-primary" id="Capricciosa">Köp</button>
                    </div>
                </div>

                <div id="pizza_6" class="pizza">
                    <img src="uploads/Grafiskt material/quattro-formaggi.svg"></img>
                        <div class="pizza_text">
                            <p> <b>Quattro formaggi</b></p>
                            <p class="pizza_ingredients"> Tomatsås <br> Mozzarella <br> Parmesan <br> Pecorino <br> Gorgonzola</p>
                            <button onclick="pizza_check(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="Quattro formaggi">Anpassa </button>
                            <button onclick="buy(this)" type="button" class="btn btn-primary" id="Quattro formaggi">Köp</button>
                    </div>

                </div>

                <div id="pizza_7" class="pizza">
                <img src="uploads/Grafiskt material/ortolana.svg"></img>
                        <div class="pizza_text">
                            <p> <b>Ortolana</b></p>
                            <p class="pizza_ingredients"> Tomatsås <br> Mozzarella <br> Paprika <br> Aubergine <br> Zucchini</p>
                            <button onclick="pizza_check(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="Ortolana">Anpassa </button>
                            <button onclick="buy(this)" type="button" class="btn btn-primary" id="Ortolana">Köp</button>
                    </div>
                </div>

                <div id="pizza_8" class="pizza">
                    <img src="uploads/Grafiskt material/diavola.svg"></img>
                    <div class="pizza_text">
                        <p> <b>Diavola</b></p>
                        <p class="pizza_ingredients"> Tomatsås <br> Mozzarella <br> Salami <br> Paprika <br> Chili</p>
                        <button onclick="pizza_check(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="Diavola">Anpassa </button>
                        <button onclick="buy(this)" type="button" class="btn btn-primary" id="Diavola">Köp</button>
                    </div>
                </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content" id="pizza_modal">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                        </div>
                                        <div class="modal-body">
                                        Allergier:
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="glute_check">
                                            <label class="form-check-label" for="defaultCheck1">
                                                Glutenfri
                                            </label>
                                        </div>

                                        Storlek:
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">Normal pizza</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">Familjepizza</label>
                                        </div>

                                        Ingredienser:
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
                                            <label class="form-check-label" for="inlineCheckbox1">Tomatsås</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2">
                                            <label class="form-check-label" for="inlineCheckbox1">Mozzarella</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3">
                                            <label class="form-check-label" for="inlineCheckbox1">Basilika</label>
                                        </div>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="4">
                                            <label class="form-check-label" for="inlineCheckbox1">Skinka</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="5">
                                            <label class="form-check-label" for="inlineCheckbox1">Svamp</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="6">
                                            <label class="form-check-label" for="inlineCheckbox1">Kronärtskocka</label>
                                        </div>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="7">
                                            <label class="form-check-label" for="inlineCheckbox1">Parmesan</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="8">
                                            <label class="form-check-label" for="inlineCheckbox1">Pecorino</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="9">
                                            <label class="form-check-label" for="inlineCheckbox1">Gorgonzola</label>
                                        </div>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="10">
                                            <label class="form-check-label" for="inlineCheckbox1">Paprika</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="11">
                                            <label class="form-check-label" for="inlineCheckbox1">Aubergine</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="12">
                                            <label class="form-check-label" for="inlineCheckbox1">Zucchini</label>
                                        </div>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="13">
                                            <label class="form-check-label" for="inlineCheckbox1">Oliver</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="14">
                                            <label class="form-check-label" for="inlineCheckbox1">Salami</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="15">
                                            <label class="form-check-label" for="inlineCheckbox1">Chili</label>
                                        </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                                            <button type="button" class="btn btn-primary" onclick="cart_add(pizza_modal)" data-dismiss="modal">Lägg i kundkorg</button>
                                        </div>
                                    </div>
                                </div>
                        </div>

<script src="pizza_customize.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
</html>
