<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/tonypizza.css">
</head>
<body>

    <a class="shopping_text" href="/">
    <h1> SHOPPING CART </h1>
    </a>


    Your order is the following: <br>
    <br>
    <div class="kundvagn_holder">
        <div class="kund_text" id="kund_text">
        <h5>Pizza: INSERT NAME<br></h5>
        <h6>Ingredients: INSERT NAME</h6>
            <form action="/kundvagn/send" method="POST">
                <h6>INSERT NAME BELOW<br></h6>
                <input type="text"><br>
                <input type="hidden" name="list" value="information">
                <button class="knapp1" type="submit">Buy</button><br>
            </form>
        </div>
    </div>
    <button type="button" onclick="test()"></button>

    <script src="pizza_korg.js"></script>
</body>
</html>
