<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/tonypizza.css">
</head>
<body>
    <div class="pizza_logo_basket">
    <a class="shopping_text" href="/">
        <img src="uploads/Grafiskt material/tonys-pizza-logo.svg"></img>
    </a>
    </div>


    <div class="kundvagn_holder">
        <div class="kund_text" id="kund_text">
            <p class="order_text">Your order is the following:</p>
            <br>
            <div class="cart_container">
                <div class="cart_pizza" style="display: none; ">
                    <h4></h4>
                    <button class="buttons" type="button" onclick="remove_pizza(this)">Remove</button>
                    <input type="hidden" value="">
                </div>
            </div>
        </div>
    </div>

    <form action="/kundvagn/send" method="POST">
        <input type="hidden" name="list" value="" id="hidden-input">
        <button onclick="add_pizzas()" class="buy_button" type="submit">Buy</button>
        <button class="buttons" type="button" onclick="remove_all()">Remove All</button>

    </form>

    <script src="pizza_korg.js"></script>
</body>
</html>
