<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tony's pizza</title>
    <link rel="stylesheet" type="text/css" href="/tonypizza.css">
</head>


<body>

<div class="All_orders">
<h1>All Orders</h1>
	<%= for order <- orders do %>
	<div class="order_holder">
	<li class="order_holder_text">
		Order ID: <%= order.id %><br>
		Person: Insert random name<br>
		Name: <%= order.name %><br>
		Pizza ID: <%= order.id_p %><br>
		Ingredients: Give the names of ingredients<br>
		<form action="/orders/<%= order.id %>/edit" method="POST"> <button class="knapp1" type="submit">Done</button>
		  	<input type="hidden" name="name" value="<%= order.name %>">
  			<input type="hidden" name="id_p" value="<%= order.id_p %>">
		</form>
	</li>
	</div>
	<% end %>
</div>


<div class="All_orders">
	<h2>Finished Orders</h2>
	<%= for comp <- completed do %>
	<div class="order_holder">
	<li class="order_holder_text">
		Order ID: <%= comp.id %><br>
		Person: Insert random name<br>
		Name: <%= comp.name %><br>
		Pizza ID: <%= comp.id_p %><br>
		Ingredients: Give names of ingredients<br>

	<form action="/orders/<%= comp.id %>/destroy" method="POST">
		<button class="knapp3" type="submit">Delivered</button>
	</form>
	</li>
	</div>
	<% end %>
</div>
</body>
</html>
