<h1>Orders.show (/orders/<%= orders.id %>)</h1>

<h2>
	<form action="/orders/<%= orders.id %>/destroy" method="post">
		<button type="submit">Destroy pizza</button>
	</form>
</h2>


<p>Order nummer <%= orders.id %>, det är pizza <%= orders.p_id %> vilket också är <%= orders.name %></p>
